
.page-admin-structure-menu .target-blank span {
  display: none;
}

a.target-blank span {
  display: none;
  padding: 6px 8px;
  margin-top: -20px;
  margin-left: 20px;
  white-space: nowrap;
  z-index: 1;

  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

a.target-blank:hover span {
  display: inline;
  position: absolute;
  color: #fff;
  background: #333;
}
